/*

The classes in this file are meant to be used directly inside
markdown or mdx files to style articles.

For example, if you want an image to have a max-width of 400 px, feel free to use `.img-400` class.

*/

@mixin image($max-width) {
  width: 100%;
  max-width: $max-width !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.img-800 {
  @include image($max-width: 800px);
}

.img-600 {
  @include image($max-width: 600px);
}

.img-500 {
  @include image($max-width: 500px);
}

.img-400 {
  @include image($max-width: 400px);
}
